<section class="view-home" layout layout-fill>
  <div layout-padding>
    <display-profile profile="homeCtrl.profile" flex="33">
    </display-profile>
  </div>
  <div layout="column" layout-fill>
    <way-thumbnail flex="66"> </way-thumbnail>

<section>
  <md-card>
    <md-subheader class="md-no-sticky">My Messages</md-subheader>
    <message-thumbnail  flex="66" incoming="true"></message-thumbnail>
</md-card>
</section>
    <review-thumbnail flex="66"> </review-thumbnail>
  </div>
  <!-- <create-review></create-review>
  <profile-thumbnail></profile-thumbnail> -->
</section>
