<section class="view-home" layout flex="auto">
  <display-profile profile="homeCtrl.profile" flex-gt-sm="29"></display-profile>

  <div layout="column" flex-gt-sm="70" flex-sm="auto" class="resource-thumbnails">
    <md-card flex="auto">
      <md-subheader class="md-no-sticky">My Ways</md-subheader>
      <way-thumbnail ways="homeCtrl.ways"> </way-thumbnail>
    </md-card>
    <md-card flex="auto">
      <md-subheader class="md-no-sticky">My Messages</md-subheader>
      <message-thumbnail  incoming="true"></message-thumbnail>
    </md-card>
    <md-card  flex="auto">
      <md-subheader class="md-no-sticky">My Reviews</md-subheader>
      <review-thumbnail></review-thumbnail>
    </md-card>
  </div>
</section>
