<div class="way-detail">
  <md-card flex="none" ng-repeat="way in wayDetailCtrl.ways | orderBy:'distance'" class="md-primary" ng-click="wayDetailCtrl.viewWay($event, true, way)">
    <md-card-header md-colors="{{ way.wayerz[0]._id === wayDetailCtrl.profile._id ? {backgroundColor: 'swag-accent'} : '' }}">
      <md-card-header-text>
        <div layout="row">
          <span class="md-title" flex>{{ way.name || 'Way' }}</span>
          <span class="md-subhead" flex="none">{{ way.distance | number:1 }} mi</span>
        </div>
      </md-card-header-text>
      <!-- <md-card-avatar>
        <img src="{{way.wayerz[0].photo}}"/>
      </md-card-avatar> -->
    </md-card-header>
    <md-card-content layout="column" layout-align="center center">
      <p>{{way.startLocation.street}} {{way.startLocation.city}} {{way.startLocation.state}}</p>
      <md-icon ng-md-icon icon="arrow_downward"></md-icon>
      <p>{{way.endLocation.street}} {{way.endLocation.city}} {{way.endLocation.state}}</p>
    </md-card-content>
  </md-card>
</div>
