<div class="way-detail">
  <md-card ng-repeat="way in wayDetailCtrl.ways">
  <!-- <md-card ng-repeat="way in wayDetailCtrl.ways" ng-click="wayDetailCtrl.editWay($event, true, way)"> -->
    <!-- <img src="" class="md-card-image" alt="image caption"> -->
    <md-card-content>
      <h2>{{ way.profileID }}</h2>
      <p>Card content</p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="wayDetailCtrl.editWay($event, true, way)" class="md-primary">Edit</md-button>
      <md-button ng-click="wayDetailCtrl.viewWay($event, true, way)" class="md-primary">View</md-button>
    </md-card-actions>
  </md-card>
</div>
