<md-dialog aria-label="Write Message">
  <form ng-cloak>
    <!-- HEADER -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Write Message</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="createMessageCtrl.closeDialog()">
          <md-icon ng-md-icon icon="highlight_off"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <!-- END OF HEADER -->

    <md-dialog-content layout-margin layout-padding>

      <md-input-container class="md-icon-float md-block">
        <label>to:</label>
        <input type="text" ng-model="messageCtrl.message.toProfileId">
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>from: {{ messageCtrl.message.fromProfileId }}</label>
        <input type="text" ng-model="messageCtrl.message.fromProfileId">
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>subject:</label>
        <input type="text" ng-model="messageCtrl.message.subject">
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label></label>
        <textarea type="text" ng-model="messageCtrl.message.text">
      </md-input-container>

    </md-dialog-content>

    <!-- INSERT ACTIONS/OR WHATEVER YOU WANT AS A FOOTER BELOW -->
    <md-dialog-actions>
      <!-- EXAMPLE LOADING BUTTON -->
      <md-button ng-click="createMessageCtrl.createMessageSubmit()" class="md-accent md-raised" layout layout-align="center center">
        <span ng-show="!createMessageCtrl.isLoading">SEND</span>
        <md-progress-circular md-mode="indeterminate" ng-show="createMessageCtrl.isLoading" md-diameter="20" class="md-primary md-hue-1 float-left"></md-progress-circular>
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
