<md-dialog aria-label="Write Message">
  <form ng-cloak>
    <!-- HEADER -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Write Message</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="createMessageCtrl.closeDialog()">
          <md-icon ng-md-icon icon="highlight_off"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <!-- END OF HEADER -->
    <md-dialog-actions layout-margin>
      <!-- EXAMPLE LOADING BUTTON -->
      <md-button ng-click="createMessageCtrl.createMessageSubmit()" class="md-accent md-raised" layout-align="center center">
        <span ng-show="!createMessageCtrl.isLoading">SEND</span>
        <md-progress-circular md-mode="indeterminate" ng-show="createMessageCtrl.isLoading" md-diameter="20" class="md-primary md-hue-1 float-left"></md-progress-circular>
      </md-button>
    </md-dialog-actions>

    <md-dialog-content layout-margin layout-padding>

      <md-input-container class="md-icon-float md-block">
        <label>to:</label>
        <md-select ng-model="createMessageCtrl.profileToAdd" md-on-open="createMessageCtrl.loadAllProfiles()">
          <md-option ng-value="profileToAdd" ng-repeat="profileToAdd in createMessageCtrl.allProfiles | orderBy : 'displayName' ">{{profileToAdd.displayName}}</md-option>
        </md-select>
        </md-input-container>


<!-- class="md-icon-float md-block" -->

      <!-- <div layout="column" layout-align="center center">
        <md-select placeholder="Add a Wayer" ng-model="editWayCtrl.wayerToAdd" md-on-open="editWayCtrl.loadAllProfiles()" style="min-width: 200px;">
          <md-option ng-value="wayerToAdd" ng-repeat="wayerToAdd in editWayCtrl.allProfiles">{{wayerToAdd.displayName}}</md-option>
        </md-select>
        <p class="md-caption">Add {{ editWayCtrl.wayerToAdd ? editWayCtrl.wayerToAdd.displayName : 'No one yet' }} to the Way</p>
      </div> -->

      <!-- <md-input-container class="md-icon-float md-block">
        <label>from: {{ createMessageCtrl.message.fromProfileID}}</label>
        <input type="text" ng-model="createMessageCtrl.message.fromProfileID">
      </md-input-container> -->

      <md-input-container class="md-icon-float md-block">
        <label>subject:</label>
        <input type="text" ng-model="createMessageCtrl.message.subject">
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <textarea type="text" rows="3" ng-model="createMessageCtrl.message.text">
      </md-input-container>

    </md-dialog-content>

    <!-- INSERT ACTIONS/OR WHATEVER YOU WANT AS A FOOTER BELOW -->

  </form>
</md-dialog>
