
.view-landing {
  background-image: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.main-color {
  color: black;
}

.pop {
  color: blue;
}

.resource-thumbnails {
  max-width: 100%;
}
