.view-way {

  .map-controls {
    position: fixed;
    z-index: 10;
    width: 100%;
  }

  .google-search {
    // top: 56px;
    width: 100%;
    margin: 0;
    padding-left: 10px;
  }

  .way-control-btn {
    // bottom: 30px;
  }

}
