.view-way {

  .google-search {
    // position: fixed;
    // top: 56px;
    // z-index: 1;
    // width: 100%;
    margin: 0;
    // max-width: 960px;
  }


  .map-action {
    position: fixed;
    z-index: 10;
    right: 0%;
    top: 8%;
    // bottom: 0%;
  }
  .waymap-searchbar {
    position: fixed;
    z-index: 10;
    top: 15%;
  }
}
