.view-way {

  .fixed {
  }

  .map-controls {
    position: fixed;
    z-index: 10;
    width: 96%;
  }

  .google-search {
    // top: 56px;
    // width: 50%;
    // margin: 0;
    z-index: 10;
    padding-left: 10px;
    border-radius: 10px;
  }

  .way-control-btn {
    // bottom: 30px;
    // margin-left: 0;
  }

}
