<section class="view-way" layout-fill>

  <div class="map-action">
    <md-button ng-click="wayCtrl.createWay($event, true)" class="md-raised md-primary">Create Way</md-button>
    <md-button ng-click="wayCtrl.toggleView()" class="md-raised md-warn md-hue-2">Toggle View</md-button>
  </div>
  <!-- <h2>wayview: {{ wayCtrl.ways.length }} </h2> -->

  <way-thumbnail ways="wayCtrl.ways" ng-show="!wayCtrl.mapView"></way-thumbnail>

  <waymap layout-fill ways="wayCtrl.ways" ng-show="wayCtrl.mapView"></waymap>

  <md-fab-toolbar md-direction="left">
    <md-fab-trigger>
      <md-button aria-label="Add...">
        <md-icon ng-md-icon icon="directions_car"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
     <md-fab-actions>
       <md-button aria-label="Add User">
         <md-icon ng-md-icon icon="directions_car"></md-icon>
       </md-button>

       <md-button aria-label="Add Group">
         <md-icon ng-md-icon icon="directions_car"></md-icon>
s       </md-button>
     </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
</section>
