<section class="view-way" layout-fill>

  <md-input-container
    class="google-search"
    md-colors="{background: 'grey-50-.8'}"
    class="md-block">
    <input
      places-auto-complete
      ng-model="wayCtrl.address"
      component-restrictions="{country:'us'}"
      type="{{wayCtrl.type}}"
      on-place-changed="wayCtrl.placeChanged()"
      md-colors="{color:'grey-10'}"/>
  </md-input-container>

  <div class="map-action">
    <md-slider flex md-discrete ng-model="wayCtrl.searchRadius" step="5" min="0" max="50" aria-label="search-radius" ng-change="wayCtrl.createDistanceWays()">
    </md-slider>

    <md-button ng-click="wayCtrl.createWay($event, true)" class="md-raised md-warn md-hue-2">Create Way</md-button>

    <md-button ng-click="wayCtrl.toggleView()" class="md-raised md-warn md-hue-2">Toggle View</md-button>
  </div>

  <way-detail ways="wayCtrl.distanceWays" ng-show="!wayCtrl.mapView"></way-detail>

  <waymap layout-fill ways="wayCtrl.distanceWays" ng-show="wayCtrl.mapView"></waymap>
  <!-- <waymap layout-fill ways="wayCtrl.ways" ng-show="wayCtrl.mapView"></waymap> -->

</section>
