<section>
  <md-card>
    <md-subheader class="md-no-sticky">My Ways</md-subheader>
    <md-list-item class="secondary-button-padding" layout-margin layout-padding>
      <!-- ng-repeat="item in messages | limitTo: 3"  -->
      <span class="md-title">{{ waythumbnailCtrl.name }}</span>
      <div layout="column">
        <span class="md-subhead">Start:  {{ waythumbnailCtrl.startLocation }}</span>
        <span class="md-subhead">End: {{ waythumbnailCtrl.endLocation }}</span>
      </div>
      <span></span>
      <span class="md-subhead">Sunday</span>
      <span class="md-subhead">3:00pm</span>
      <md-button class="md-secondary" ng-click="">See Way</md-button>
    </md-list-item>
    <md-divider></md-divider>


    <!-- this is just for testing having multiple items -->
    <md-list-item class="secondary-button-padding" layout-margin layout-padding>
      <!-- ng-repeat="item in messages | limitTo: 3"  -->
      <span class="md-title">{{ waythumbnailCtrl.name }}</span>
      <div layout="column">
        <span class="md-subhead">Start:  {{ waythumbnailCtrl.startLocation }}</span>
        <span class="md-subhead">End: {{ waythumbnailCtrl.endLocation }}</span>
      </div>
      <span></span>
      <span class="md-subhead">Sunday</span>
      <span class="md-subhead">3:00pm</span>
      <md-button class="md-secondary" ng-click="">See Way</md-button>
    </md-list-item>


  </md-card>
</section>
