<section>
  <md-card>
    <md-subheader class="md-no-sticky">My Ways</md-subheader>

    <md-list-item class="secondary-button-padding" layout-margin layout-padding ng-repeat="way in waythumbnailCtrl.myWays | limitTo: 3">
      <span class="md-title md-truncate">{{ way.name }}</span>
      <div layout="column">
        <span class="md-subhead md-truncate">Start: {{ way.startLocation.street}} {{ way.startLocation.city}} {{ way.startLocation.state}} </span>
        <span class="md-subhead md-truncate">End: {{ way.endLocation.street}} {{ way.endLocation.city}} {{ way.endLocation.state}}</span>
      </div>
      <span></span>
      <span class="md-subhead">{{way.oneTimeDate | limitTo : 10}}</span>
      <span class="md-subhead">{{way.hour}} {{way.minutes}}</span>
      <md-button class="md-secondary" ng-click="">See Way</md-button>
    </md-list-item>

  </md-card>
</section>
