<section>
  <md-card>
    <md-subheader class="md-no-sticky">My Reviews</md-subheader>
    <md-list-item class="secondary-button-padding" layout-margin layout-padding>
      <!-- ng-repeat="item in messages | limitTo: 3"  -->
      <div class="star-container" layout="row">
        <md-icon ng-md-icon icon="star" style="fill:orange"></md-icon>
        <md-icon ng-md-icon icon="star" style="fill:orange"></md-icon>
        <md-icon ng-md-icon icon="star" style="fill:orange"></md-icon>
        <md-icon ng-md-icon icon="star_border" style="fill:orange"></md-icon>
        <md-icon ng-md-icon icon="star_border" style="fill:orange"></md-icon>
      </div>
      <p>{{ reviewthumbnailCtrl.comment }}</p>

      <md-button class="md-secondary" ng-click="doSecondaryAction($event, true)">Read</md-button>
    </md-list-item>
    <md-divider></md-divider>


    <!-- this is just for testing having multiple items -->
    <md-list-item class="secondary-button-padding" layout-margin layout-padding>
      <!-- ng-repeat="item in messages | limitTo: 3"  -->
      <div class="star-container" layout="row">
        <md-icon ng-md-icon icon="star" style="fill:orange"></md-icon>
        <md-icon ng-md-icon icon="star" style="fill:orange"></md-icon>
        <md-icon ng-md-icon icon="star" style="fill:orange"></md-icon>
        <md-icon ng-md-icon icon="star_border" style="fill:orange"></md-icon>
        <md-icon ng-md-icon icon="star_border" style="fill:orange"></md-icon>
      </div>
      <p>{{ reviewthumbnailCtrl.comment }}</p>

      <md-button class="md-secondary" ng-click="doSecondaryAction($event, true)">Read</md-button>
    </md-list-item>

  </md-card>
</section>
