<!-- <div star-rating ng-model="rating.rating1" max="10" on-rating-select="rating.rateFunction(rating)"></div>
<star-rating ng-model="rating.rating2" readonly="rating.isReadonly"></star-rating>
<label>
  <input type="checkbox" ng-model="rating.isReadonly"/>
 -->

<!-- <section>
  <ul class="star-rating" ng-class="{readonly: readonly}">
    <li ng-repeat="star in stars" class="star" ng-class="{filled: star.filled}" ng-click="toggle($index)">
      <i class="fa fa-star"></i>
    </li>
  </ul>,
</section> -->
