

<div class="cpt-waymap" layout-fill>
  <md-input-container
    class="google-search"
    md-colors="{background: 'grey-50-.8'}"
    class="md-block">
    <input places-auto-complete
      ng-model="wayMapCtrl.address"
      component-restrictions="{country:'us'}"
      type="{{wayMapCtrl.type}}"
      on-place-changed="wayMapCtrl.placeChanged()"
      md-colors="{color:'grey-10'}"/>
  </md-input-container>

  <ng-map
    layout-fill
    center="current-location"
    geo-fallback-center="47.618217,-122.351832"
    class="map"
    map-type-control-options="{style:'HORIZONTAL_BAR', position:'BOTTOM_CENTER'}"
    street-view-control-options="{position:'RIGHT_BOTTOM'}"
    zoom-control-options="{style:'LARGE', position:'LEFT_BOTTOM'}"
    map-initialized="wayMapCtrl.mapInit()">
  </ng-map>
</div>
