<md-dialog aria-label="Make a Way">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Make a Way</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="createWayCtrl.closeDialog()">
          <md-icon ng-md-icon icon="highlight_off"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-margin layout-padding>
      <md-input-container class="md-icon-float md-block">
        <label>name</label>
        <md-icon ng-md-icon icon="send"></md-icon>
        <input type="text" ng-model="createWayCtrl.way.name">
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>startLocation</label>
        <input ng-model="createWayCtrl.way.startLocation" required>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>endLocation</label>
        <input ng-model="createWayCtrl.way.endLocation" required>
      </md-input-container>

      <div layout>
        <div layout="row" layout-wrap flex="50">
          <div flex="33" ng-repeat="day in createWayCtrl.daysOfWeek">
            <md-checkbox ng-checked="createWayCtrl.exists(day, createWayCtrl.way.recurringDayOfWeek)" ng-click="createWayCtrl.toggle(day, createWayCtrl.way.recurringDayOfWeek)">
              {{ day }} <span ng-if="exists(day, createWayCtrl.way.recurringDayOfWeek)">selected</span>
            </md-checkbox>
          </div>
        </div>

        <md-datepicker ng-model="createWayCtrl.way.oneTimeDate" md-placeholder="One Time Way" class="md-block" flex="50"></md-datepicker>
      </div>

      <div layout="row" layout-padding layout-align="center center">
        <md-slider-container flex>
          <md-input-container>
            <input flex type="number" ng-model="vol" aria-label="hour" aria-controls="hour-slider">
          </md-input-container>
          <md-slider ng-model="vol" min="1" max="12" aria-label="hour" id="hour-slider" class="md-accent" md-vertical md-range></md-slider>
          <h5>Hour</h5>
        </md-slider-container>

        <md-slider-container flex>
          <md-input-container>
            <input flex type="number" ng-model="minute" aria-label="minute" aria-controls="minute-slider">
          </md-input-container>
          <md-slider md-discrete ng-model="minute" min="0" max="60" step="5" aria-label="minute" class="md-primary"
          md-vertical></md-slider>
        </md-slider>
        <h5>Minutes</h5>
      </md-slider-container>

      <md-switch ng-model="data.cb1" aria-label="AM/PM"  flex>
        {{ data.cb1 }}
      </md-switch>
    </div>


    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="createWayCtrl.createWaySubmit()" class="md-primary md-raised" layout layout-align="center center">
        <span ng-show="!createWayCtrl.isLoading">Go</span>
        <md-progress-circular md-mode="indeterminate" ng-show="createWayCtrl.isLoading" md-diameter="20" class="md-accent md-hue-1 float-left"></md-progress-circular>
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
