<div class="cpt-waymap" layout-fill>
  <md-input-container>
    <input places-auto-complete
      ng-model="wayMapCtrl.address"
      component-restrictions="{country:'us'}"
      type="{{wayMapCtrl.type}}"
      on-place-changed="wayMapCtrl.placeChanged()"/>
  </md-input-container>

  <ng-map
    center="current-location"
    geo-fallback-center="47.618217,-122.351832">

    <marker ng-repeat="loc in wayMapCtrl.startMarkers" position="{{loc}}"></marker>
    <marker ng-repeat="loc in wayMapCtrl.endMarkers" position="{{loc}}"></marker>

  </ng-map>
  <h2>waymap: {{ wayMapCtrl.ways.length }}</h2>

</div>
