<md-dialog aria-label="View OneProfile">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>{{ viewOneProfileCtrl.profile.displayName }}</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="viewOneProfileCtrl.closeDialog()">
            <md-icon ng-md-icon icon="highlight_off"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content layout-margin layout-padding layout="column">
        <md-content>

  </md-content>


    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="viewOneProfileCtrl.joinSubmit()" class="md-primary md-raised" layout layout-align="center center">
        <span ng-show="!viewOneProfileCtrl.isLoading">Request to Join</span>
        <md-progress-circular md-mode="indeterminate" ng-show="viewOneProfileCtrl.isLoading" md-diameter="20" class="md-accent md-hue-1 float-left"></md-progress-circular>
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
