<md-button ng-click="messageCtrl.createMessage($event, true)" class="md-raised md-primary message-action">Send Message</md-button>

<md-tabs class="md-background" md-selected="data.selectedIndex"
  md-stretch-tabs="auto" layput-padding layout-margin md-dynamic-height>
  <md-tab id="tab1">
    <md-tab-label>Inbox</md-tab-label>
    <md-tab-body class="md-display-2" layput-padding layout-margin>
        <message-thumbnail incoming='true'></message-thumbnail>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab2">
    <md-tab-label>Outbox</md-tab-label>
    <md-tab-body style="transition: none">
        <message-thumbnail incoming='false'></message-thumbnail>
    </md-tab-body>
  </md-tab>
</md-tabs>
