<md-dialog aria-label="Create a Profile">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>tell people about yourself</h2>
        <span flex></span>
        <md-button class="md-icon-button"
        aria-label="Close Create Profile Dialog"
        ng-click="createProfileCtrl.closeDialog()">
          <md-icon ng-md-icon icon="highlight_off"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding layout-margin>
      <md-input-container class="md-icon-float md-block">
        <md-icon ng-md-icon icon="sentiment_satisfied"></md-icon>
        <input
          type="text"
          placeholder="displayName"
          ng-model="createProfileCtrl.profile.displayName"
          required>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <md-icon ng-md-icon icon="person"></md-icon>
        <input
          type="text"
          placeholder="Full Name"
          ng-model="createProfileCtrl.profile.fullName"
          required>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <md-icon ng-md-icon icon="my_location"></md-icon>
        <input
          type="text"
          placeholder="your address"
          ng-model="createProfileCtrl.profile.address"
          required>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <md-icon ng-md-icon icon="fingerprint"></md-icon>
        <textarea
          placeholder="fun facts about you"
          md-maxlength="500"
          rows="3"
          ng-model="createProfileCtrl.profile.bio"
          aria-label="profile bio field"
          required></textarea>
      </md-input-container>

      <div layout-gt-xs="row">
        <md-input-container class="md-icon-float md-block" flex-gt-xs>
          <md-icon ng-md-icon icon="twitter"></md-icon>
          <input
            type="text"
            placeholder="twitter handle"
            ng-model="createProfileCtrl.profile.socialMedia.twitter">
        </md-input-container>
        <md-input-container class="md-icon-float md-block" flex-gt-xs>
          <md-icon ng-md-icon icon="facebook-box"></md-icon>
          <input
            type="text"
            placeholder="facebook username"
            ng-model="createProfileCtrl.profile.socialMedia.facebook">
        </md-input-container>
        <md-input-container class="md-icon-float md-block" flex-gt-xs>
          <md-icon ng-md-icon icon="google-plus-box"></md-icon>
          <input
            type="text"
            placeholder="google+"
            ng-model="createProfileCtrl.profile.socialMedia.googlePlus">
        </md-input-container>
      <md-input-container class="md-icon-float md-block" flex-gt-xs>
          <md-icon ng-md-icon icon="linkedin-box"></md-icon>
          <input
            type="text"
            placeholder="LinkedIn"
            ng-model="createProfileCtrl.profile.socialMedia.linkedIn">
        </md-input-container>
      </div>

      <md-input-container class="md-icon-left">
        <md-icon ng-md-icon icon="portrait"></md-icon>
         <input
          class="md-raised md-primary md-button"
          type="file"
          ngf-select
          ngf-accept="'image/*'"
          ngf-max-size="5MB"
          ng-model="createProfileCtrl.profile.photo">
        <img
          ngf-thumbnail="createProfile.profile.photo">
      </md-input-container>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="createProfileCtrl.createProfile()"
      class="md-primary md-raised" layout>
      <span ng-show="!createProfileCtrl.isLoading">create my profile</span>
      <md-progress-circular md-mode="indeterminate" ng-show="createProfileCtrl.isLoading" md-diameter="20" class="md-accent md-hue-1"></md-progress-circular>
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
