<md-dialog aria-label="Leave a Review">
  <form ng-cloak>
    <!-- HEADER -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Leave a Review</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="reviewCtrl.closeDialog()">
          <md-icon ng-md-icon icon="highlight_off"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <!-- END OF HEADER -->

    <md-dialog-content layout-margin layout-padding>

      <md-input-container class="md-icon-float md-block">
        <label>rating</label>
        <input type="text" ng-model="reviewCtrl.review.rating">
      </md-input-container>

      <md-input-container class="md-icon-float">
        <label>comment</label>
        <input type="text" ng-model="reviewCtrl.review.comment">
      </md-input-container>

    </md-dialog-content>

    <!-- INSERT ACTIONS/OR WHATEVER YOU WANT AS A FOOTER BELOW -->
    <md-dialog-actions>
      <!-- EXAMPLE LOADING BUTTON -->
      <md-button ng-click="reviewCtrl.testDialogSubmit()" class="md-accent md-raised" layout layout-align="center center">
        <span ng-show="!reviewCtrl.isLoading">SUBMIT</span>
        <md-progress-circular md-mode="indeterminate" ng-show="reviewtrl.isLoading" md-diameter="20" class="md-primary md-hue-1 float-left"></md-progress-circular>
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
