<md-dialog aria-label="View Way">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>{{ viewWayCtrl.name }}</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="viewWayCtrl.closeDialog()">
            <md-icon ng-md-icon icon="highlight_off"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content layout-margin layout-padding layout="column">
        <md-content>
          <md-list layout="column">
            <md-subheader class="md-no-sticky">Way Details</md-subheader>
            <md-list-item layout="column" flex="none">
              <span>{{viewWayCtrl.startLocation}}</span>
              <md-icon ng-md-icon icon="arrow_downward"></md-icon>
              <span>{{viewWayCtrl.endLocation}}</span>

            </md-list-item>

            <md-list-item ng-show="viewWayCtrl.way.recurringDayOfWeek.length > 0" layout="column">
              <div class="">
                <md-icon ng-md-icon icon="today"></md-icon>
                <span ng-repeat="day in viewWayCtrl.dayArray">{{day}}</span>
              </div>
            </md-list-item>

            <md-list-item ng-show="viewWayCtrl.way.oneTimeDate">
              <div>
                <span class="md-subheader">ONE-TIME DATE</span><span>{{viewWayCtrl.oneTimeDate| date:"MMMM dd 'yy" }}</span>
              </div>
            </md-list-item>

            <md-list-item ng-show="viewWayCtrl.way.hour">
              <div>
                <span class="md-subheader">TIME</span><span>{{viewWayCtrl.hour}}:{{viewWayCtrl.minutes}} {{viewWayCtrl.ampm}}</span>
              </div>

            </md-list-item>

            <md-divider></md-divider>

            <md-subheader class="md-no-sticky">Wayerz</md-subheader>
            <md-list-item ng-repeat="wayer in viewWayCtrl.way.wayerz" md-colors="{{ viewWayCtrl.way.profileID === wayer._id ? {backgroundColor: 'default-accent-100'} : '' }}">
              <span><b>{{wayer.displayName}}</b></span>
              <span>
                <md-button ng-click="viewWayCtrl.viewProfile($event, true, wayer)" class="md-secondary md-raised" layout layout-align="center center">
                  <span ng-show="!viewWayCtrl.isLoading" >Profile</span>
                </md-button>
              </span>
            </md-list-item>
          </md-list>

  </md-content>


    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="viewWayCtrl.joinSubmit()" class="md-primary md-raised" layout layout-align="center center" ng-show="viewWayCtrl.way.profileID !== viewWayCtrl.profile._id">
        <span ng-show="!viewWayCtrl.isLoading">Request to Join</span>
        <md-progress-circular md-mode="indeterminate" ng-show="viewWayCtrl.isLoading" md-diameter="20" class="md-accent md-hue-1 float-left"></md-progress-circular>
      </md-button>

      <md-button ng-show="way.wayerz[0]._id === wayDetailCtrl.profile._id" ng-click="viewWayCtrl.editWay($event, true, viewWayCtrl.way)" class="md-primary">Edit</md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
