<md-dialog aria-label="View Way">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>{{ viewWayCtrl.name }}</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="viewWayCtrl.closeDialog()">
            <md-icon ng-md-icon icon="highlight_off"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content layout-margin layout-padding layout="column">
        <md-content>
          <md-list>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Way Details</md-subheader>
            <md-list-item>
              <div>
                <span class="md-subheader">FROM</span><span>{{viewWayCtrl.way.startLocation}}</span>
              </div>

            </md-list-item>

            <md-list-item>
              <div>
                <span class="md-subheader">TO</span><span>{{viewWayCtrl.way.startLocation}}</span>
              </div>

            </md-list-item>

            <md-list-item>
              <div>
                <span class="md-subheader">DAYS OF THE WEEK</span><span>{{viewWayCtrl.daysOfWeekOutput()}}</span>
              </div>

            </md-list-item>

            <md-list-item>
              <div>
                <span class="md-subheader">ONE-TIME DATE</span><span>{{viewWayCtrl.way.oneTimeDate}}</span>
              </div>

            </md-list-item>

            <md-divider></md-divider>

            <md-subheader class="md-no-sticky">Lead Wayer</md-subheader>
            <md-list-item>
              <span><b>{{viewWayCtrl.way.wayerz[0].displayName}}</b></span>
              <span></span>
              <span>
                <md-button ng-click="viewWayCtrl.viewWaySubmit()" class="md-secondary md-raised" layout layout-align="center center">
                  <span ng-show="!viewWayCtrl.isLoading" >Profile</span>
                </md-button>
              </span>
            </md-list-item>


          </md-list>



          <div layout layout-margin layout-padding>
            <md-input-container>
              <input flex type="number" ng-model="viewWayCtrl.hour12" aria-label="hour" aria-controls="hour-slider">
            </md-input-container>
            <md-input-container>
              <input flex type="number" ng-model="viewWayCtrl.way.startTime.minutes" aria-label="hour" aria-controls="hour-slider">
            </md-input-container>
            <md-input-container>
              <input flex  ng-model="viewWayCtrl.ampm" aria-label="hour" aria-controls="hour-slider">
            </md-input-container>
          </div>
  </md-content>


    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="viewWayCtrl.viewWaySubmit()" class="md-primary md-raised" layout layout-align="center center">
        <span ng-show="!viewWayCtrl.isLoading">Request to Join</span>
        <md-progress-circular md-mode="indeterminate" ng-show="viewWayCtrl.isLoading" md-diameter="20" class="md-accent md-hue-1 float-left"></md-progress-circular>
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
