<md-dialog aria-label="Dialog Example">
  <form ng-cloak>
    <!-- HEADER -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Dialog Example</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="testDialogCtrl.closeDialog()">
          <md-icon ng-md-icon icon="highlight_off"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <!-- END OF HEADER -->

    <md-dialog-content layout-margin layout-padding>
    <!-- INSERT CONTENT HERE -->
    </md-dialog-content>

    <!-- INSERT ACTIONS/OR WHATEVER YOU WANT AS A FOOTER BELOW -->
    <md-dialog-actions>
      <!-- EXAMPLE LOADING BUTTON -->
      <md-button ng-click="testDialogCtrl.testDialogSubmit()" class="md-accent md-raised" layout layout-align="center center">
        <span ng-show="!testDialogCtrl.isLoading">SUBMIT</span>
        <md-progress-circular md-mode="indeterminate" ng-show="testDialogCtrl.isLoading" md-diameter="20" class="md-primary md-hue-1 float-left"></md-progress-circular>
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
