<md-dialog aria-label="User Sign Up">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>join ways2go</h2>
        <span flex></span>
        <md-button class="md-icon-button"
        aria-label="Close User Sign Up Dialog"
        ng-click="signupCtrl.closeDialog()">
          <md-icon ng-md-icon icon="highlight_off"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding layout-margin>
      <md-input-container class="md-icon-float md-block">
        <md-icon ng-md-icon icon="person"></md-icon>
        <input type="text" ng-model="signupCtrl.user.username" placeholder="username" required>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <md-icon ng-md-icon icon="dialpad"></md-icon>
        <input type="password" ng-model="signupCtrl.user.password" placeholder="password" required>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <md-icon ng-md-icon icon="mail"></md-icon>
        <input type="email" ng-model="signupCtrl.user.email" placeholder="email" required>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox name="tos" ng-model="signupCtrl.tos" required>
          I accept the terms of service.
        </md-checkbox>
        <div ng-messages="signupCtrl.tos.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            You must accept the terms of service before you can proceed.
          </div>
        </div>
      </md-input-container>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button
        ng-show="!signupCtrl.isAuthorized"
        ng-click="signupCtrl.createUser()"
        class="md-primary md-raised" layout layout-align="center center">
        <span ng-show="!signupCtrl.isLoading">create account</span>
        <md-progress-circular md-mode="indeterminate"
          ng-show="signupCtrl.isLoading"
          md-diameter="20"
          class="md-accent md-hue-1 float-left">
        </md-progress-circular>
      </md-button>
      <md-button
        ng-show="signupCtrl.isAuthorized"
        ng-click="signupCtrl.goHome()"
        class="md-primary md-raised" layout layout-align="center center">
        <span>create your profile</span>
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
