<section>
  <form
    name="createProfileForm"
    ng-submit="createProfileCtrl.createProfile()">
    <label for="displayName">tell people about yourself</label>
    <md-input-container>
    <input
      name="displayName"
      type="text"
      placeholder="displayName"
      ng-model="createProfileCtrl.profile.displayName"
      required>
    </md-input-container>

    <md-input-container>
    <input
      type="text"
      placeholder="Full Name"
      ng-model="createProfileCtrl.profile.fullName"
      required>
    </md-input-container>

    <md-input-container>
    <input
      type="text"
      placeholder="your address"
      ng-model="createProfileCtrl.profile.address"
      required>
    </md-input-container>

    <md-input-container>
    <input
      type="text"
      placeholder="fun facts about you"
      ng-model="createProfileCtrl.profile.bio"
      required>
    </md-input-container>

    <p
      ngf-select
      ng-model="createProfileCtrl.profile.photo">
      upload a profile photo
    </p>

    <md-button type="submit">create your profile</md-button>
  </form>
</section>
