<section class="view-test" layout-fill>

  <!-- CREATE YOUR BUTTON FOR THE DIALOG COMPONENT YOU MADE -->

  <!-- Create Review Button -->
  <!-- <md-button ng-click="testCtrl.testDialog($event, true)" class="md-raised md-accent">TEST ME</md-button>
  <md-button ng-click="testCtrl.createReview($event, true)" class="md-primary md-raised">Leave a review</md-button> -->


  <!-- See Review Button -->
  <!-- <md-button ng-click="testCtrl.createReview($event, true)" class="md-primary md-raised">Leave a review</md-button> -->



  <!-- My Profile View -->
  <profile-thumbnail></profile-thumbnail>
  <way-thumbnail></way-thumbnail>
  <message-thumbnail></message-thumbnail>
  <review-thumbnail></review-thumbnail>


  <!-- Message View -->

  <!-- <message-nav></message-nav> -->


  <!-- Rating View -->

  <!-- <star-rating></star-rating> -->

  <h2>Message Dialogs</h2>
  <md-button ng-click="testCtrl.createMessage($event, true)" class="md-raised md-primary">Send Message</md-button>

</section>
