<section>
  <md-card>

    <md-card-title>
      <md-card-title-text>
        <span class="md-title">My Profile</span>
        <span class="md-subhead"></span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-align="space-between" layout-margin layout-padding layout-align="center">

      <div class="md-media-medium card-media" layout-align="start" flex-order="-1" layout="column">
        <img alt="cage" ng-src="{{ profilethumbnailCtrl.photo }}" class="md-user-avatar">
        <span layout-padding></span>
        <div class="star-container" layout="row">
          <md-icon ng-md-icon icon="star" style="fill:orange"></md-icon>
          <md-icon ng-md-icon icon="star" style="fill:orange"></md-icon>
          <md-icon ng-md-icon icon="star" style="fill:orange"></md-icon>
          <md-icon ng-md-icon icon="star_half" style="fill:orange"></md-icon>
          <md-icon ng-md-icon icon="star_border" style="fill:orange"></md-icon>
        </div>
      </div>


      <p flex="70" flex-order="-1">{{ profilethumbnailCtrl.bio }}</p>

      <md-icon ng-md-icon icon="mode_edit"></md-icon>

    </md-card-content>
  </md-card>
</section>
