.view-landing {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.main-color {
  color: black;
}

.pop {
  color: blue;
}
