<section layout layout-fill layout="row" class="view-landing view-fix" layout-align="center center">
  <div layout="column" layout-padding layout-margin
       md-colors="{background: 'grey-50-.5'}" layout-align="center center">
    <div layout-align="center" class="appName md-display-3">
      <span class="main-color">ways</span><span class="pop">2</span><span class="main-color">go</span>
    </div>

    <div>
      <md-button ng-click="landingCtrl.signup($event, true)"
        class="md-raised md-background">join</md-button>

      <md-button ng-click="landingCtrl.signin($event, true)"
        class="md-raised md-primary">sign in</md-button>
    </div>

  </div>
</section>
