<section class="view-landing" layout-fill>
  <img ng-src="27ca38561dc7bce8b1c782068b787d91.jpg" alt="cars background" layout-fill>


  <div layout="column" layout-padding layout-margin layout-align="center center" class="landing-title" md-colors="{background: 'grey-50-.5'}">
    <div layout-align="center" class="appName md-display-3">
      <span class="main-color">ways</span><span class="pop">2</span><span class="main-color">go</span>
    </div>

    <div>
      <md-button ng-click="landingCtrl.signup($event, true)"
      class="md-raised md-background join">join</md-button>

      <md-button ng-click="landingCtrl.signin($event, true)"
      class="md-raised md-primary signin">sign in</md-button>
    </div>

  </div>


</section>
