<md-toolbar>
  <div class="md-toolbar-tools">
    <!-- <md-button aria-label="Go Back">
      LOGO
    </md-button> -->

    <md-icon
      md-svg-src="./2ad702f2e354a87d81da166d708ef9f7.png"
      class="md-default-theme"
      style="height: 60px; width: 60px; color: white;"></md-icon>

    <md-truncate style="position: absolute; left: 90px; right: 170px; top: 13px; bottom: 13px;">ways2go</md-truncate>

    <span flex></span>
    <md-button class="md-fab md-mini" aria-label="Favorite" ng-click="mobileHeaderCtrl.gotoHome()">
      <md-icon ng-md-icon icon="home" ></md-icon>
    </md-button>
    <md-button class="md-fab md-mini" aria-label="Proile" ng-show="mobileHeaderCtrl.currentUrl === '/home'" ng-click="mobileHeaderCtrl.toggleProfile()" hide-gt-sm>
      <md-icon ng-md-icon icon="account_circle" ></md-icon>
    </md-button>
    <md-button class="md-fab md-mini" aria-label="Favorite" ng-click="mobileHeaderCtrl.gotoWay()">
      <md-icon ng-md-icon icon="directions_car"></md-icon>
    </md-button>
    <md-button class="md-fab md-mini" aria-label="Favorite" ng-click="mobileHeaderCtrl.gotoMessage()">
      <md-icon ng-md-icon icon="message"></md-icon>
    </md-button>
    <md-button class="md-raised" aria-label="Sign out"
      ng-click="mobileHeaderCtrl.logout()">
      Sign out
    </md-button>
  </div>
</md-toolbar>
